

h1 {
	margin-left: 30px;
}

table {
	margin: 10px;
	margin-left: 30px;
	width: 400px;
}

canvas {
	margin: 10px;
	margin-left: 30px;
	width: 400px; 
	height: 200px;
	border: 1px solid black;
}

.text {
	margin-left: 30px;
}

.column {
    float: left;
}

.column.right {
    width: 200px;
}

.column.left {
    width: 400;
}

.maxValue {
	margin-bottom: 150px;
}

.timeValue {
	margin: 0px;
	margin-left: 30px;
	padding: 0px;
}